option_settings:
  aws:elasticbeanstalk:application:environment:
    DOCKER_THIN_POOL_CLEANUP_REGEX: '*/30 * * * *'

files:
    "/usr/local/bin/docker-thin-pool-cleanup.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash
            echo "$(date +%F_%T) Freeing up free blocks with fstrim"
            echo 'Starting values: '
            lvs --all -v
            sh -c "docker ps -q | xargs docker inspect --format='{{ .State.Pid }}' | xargs -IZ fstrim -v /proc/Z/root/"
            echo "$(date +%F_%T) Ending values: "
            lvs --all -v

    "/usr/local/bin/docker-thin-pool-cleanup-cron.sh":
        mode: "000644"
        owner: root
        group: root
        content: |
            #!/bin/bash
            DOCKER_THIN_POOL_CLEANUP_REGEX=$(/opt/elasticbeanstalk/bin/get-config environment | jq -r '.DOCKER_THIN_POOL_CLEANUP_REGEX')
            echo 'PATH=$PATH:/sbin:/usr/sbin:/usr/bin/:/bin' > /etc/cron.d/thinpoolcleanup
            echo "${DOCKER_THIN_POOL_CLEANUP_REGEX} root /usr/local/bin/thin-pool-cleanup.sh >> /var/log/thin-pool-cleanup.log" >> /etc/cron.d/thinpoolcleanup

    "/etc/logrotate.d/docker-thin-pool-cleanup":
        mode: "000755"
        owner: root
        group: root
        content: |
            /var/log/thin-pool-cleanup.log {
              missingok
              notifempty
              size 100M
              create 0600 root root
              delaycompress
              compress
              rotate 4
              endscript
            }

commands:
    00_make_cleanup_executable:
        command: "chmod +x /usr/local/bin/docker-thin-pool-cleanup.sh"
    01_execute_cleanup:
        command: "sh /usr/local/bin/docker-thin-pool-cleanup.sh"
    02_create_cron:
        command: "sh /usr/local/bin/docker-thin-pool-cleanup-cron.sh"