option_settings:
  aws:elasticbeanstalk:application:environment:
    DOCKER_CLEANUP_REGEX: '* 23 * * *'

files:
    "/usr/local/bin/docker-cleanup-cron.sh":
        mode: "000644"
        owner: root
        group: root
        content: |
            #!/bin/bash
            DOCKER_CLEANUP_REGEX=$(/opt/elasticbeanstalk/bin/get-config environment | jq -r '.DOCKER_CLEANUP_REGEX')
            echo 'PATH=$PATH:/sbin:/usr/sbin:/usr/bin/:/bin' > /etc/cron.d/dockercleanup
            echo "${DOCKER_CLEANUP_REGEX} root /usr/local/bin/docker-cleanup.sh >> /var/log/docker-cleanup.log" >> /etc/cron.d/dockercleanup
            exit 0

    "/usr/local/bin/docker-cleanup.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash
            docker system prune -f
            docker image prune -f
            docker volume prune -f
            docker container prune -f
            docker rmi $(docker images -a -q) -f
            exit 0

commands:
    00_make_docker_executable:
        command: "chmod +x /usr/local/bin/docker-cleanup.sh"
    01_execute_docker_cleanup:
        command: "sh /usr/local/bin/docker-cleanup.sh"
    02_create_docker_cron:
        command: "sh /usr/local/bin/docker-cleanup-cron.sh"